VITE_CAFE_NAME=Linden Café & Atelier
VITE_CAFE_ADDRESS=42 Rue de la Paix, Paris 75002
VITE_CAFE_PHONE=+33 1 42 60 00 00
VITE_CAFE_EMAIL=bonjour@lindencafe.com
VITE_CAFE_HOURS_MON=07:00 - 19:00
VITE_CAFE_HOURS_TUE=07:00 - 19:00
VITE_CAFE_HOURS_WED=07:00 - 19:00
VITE_CAFE_HOURS_THU=07:00 - 21:00
VITE_CAFE_HOURS_FRI=07:00 - 21:00
VITE_CAFE_HOURS_SAT=08:00 - 21:00
VITE_CAFE_HOURS_SUN=08:00 - 18:00
VITE_INSTAGRAM=https://instagram.com/lindencafe
VITE_FACEBOOK=https://facebook.com/lindencafe
VITE_ADMIN_PASSWORD=linden2024